body {
  background-color: #7d827d;
}

h1, h2, p, ul {
  color: #ffffff;
}

ul {
  text-align: left;
  display: inline-block;
}

.center {
  text-align: center;
  padding: 5px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.collumn {
  float: left;
  width: 45%;
  padding: 15px;
  align-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.feature-panel {
  border-style: solid;
  border-color: white;
  border-width: 15px;
}

img.feature-panel {
  height: 150px;
  width: 150px;
}

h2.feature-panel {
  border-style: solid;
  border-color: white;
  border-width: 15px;
  width: 150px;
  text-align: center;
}